@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model WebApp.Models.SanPham

<h2>Are you sure you want to delete this?</h2>

    <div>
        <h4 class="mt-2">Name: @Model.SpName</h4>
        <h4 class="mt-2">Price: @Model.Price</h4>
        <h4 class="mt-2">Mota: @Model.MoTa</h4>
        <h4 class="mt-2">Congdung: @Model.CongDung</h4>
        <h4 class="mt-2">TPDD: @Model.ThanhPhanDinhDuong</h4>
        <h4 class="mt-2">HDSD: @Model.Hdsd</h4>
        <h4 class="mt-2">SoLuong: @Model.SoLuongSp</h4>
        <h4 class="mt-2">Category: @ViewBag.CategoryName</h4>
        <h4 class="mt-2">NhaPhanPhoi: @ViewBag.NhaPhanPhoiName</h4>
        <h4 class="mt-2">ChungNhan:</h4>

        @if (ViewBag.ChungNhanImg is not null)
        {
        <img src="ViewBag.ChungNhanImg" alt="Product Image" class="img-thumbnail mt-2" style="width: 300px" />
        }
        <h4 class="mt-2">HinhAnhSp:</h4>
        @if (Model.HinhAnhSp is not null)
        {
            <img src="@Model.HinhAnhSp" alt="Product Image" class="img-thumbnail mt-2" style="width: 300px" />
        }
    </div>

    <form asp-action="Delete" method="post" class="mt-2">
        <input type="hidden" asp-for="Idsp" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-success">Cancel</a>

    </form>
@section Scripts {
    
}