@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model WebApp.Models.SanPham
@{
    SelectList categories = ViewBag.Categories;
    SelectList nhaPhanPhois = ViewBag.nhaPhanPhois;
    SelectList chungNhans = ViewBag.chungNhans;
}
<h2>Product Details</h2>
 
<div>
    <h4 class="mt-2">Name: @Model.SpName</h4>
    <h4 class="mt-2">Price: @Model.Price</h4>
    <h4 class="mt-2">Mota: @Model.MoTa</h4>
    <h4 class="mt-2">Congdung: @Model.CongDung</h4>
    <h4 class="mt-2">TPDD: @Model.ThanhPhanDinhDuong</h4>
    <h4 class="mt-2">HDSD: @Model.Hdsd</h4>
    <h4 class="mt-2">SoLuong: @Model.SoLuongSp</h4>
    <h4 class="mt-2">Category: 
        @{
            string? categoryName = categories
            .Cast<SelectListItem>()
            .Where(item => item.Value == Model.Idcategory)
            .Select(item => item.Text)
            .FirstOrDefault();
        }
        @categoryName
    </h4>
    <h4 class="mt-2">NhaPhanPhoi: 
        @{
            string? nhaPhanPhoiName = nhaPhanPhois
            .Cast<SelectListItem>()
            .Where(item => item.Value == Model.Idnpp)
            .Select(item => item.Text)
            .FirstOrDefault();
        }
        @nhaPhanPhoiName
    </h4>
    <h4 class="mt-2">ChungNhan:</h4>
    @{
        string? chungNhanImg = chungNhans
        .Cast<SelectListItem>()
        .Where(item => item.Value == Model.IdchungNhan)
        .Select(item => item.Text)
        .FirstOrDefault();
    }
    @if (chungNhanImg is not null)
    {
        <img src="@chungNhanImg" alt="Product Image" class="img-thumbnail mt-2" style="width: 300px" />
    }
    <h4 class="mt-2">HinhAnhSP</h4>
    @if (Model.HinhAnhSp is not null)
    {
        <img src="@Model.HinhAnhSp" alt="Product Image" class="img-thumbnail mt-2" style="width: 300px" />
    }
</div>
<a asp-action="Index" class="btn btn-success mt-2">Back to List</a>
@if ((await AuthorizationService.AuthorizeAsync(User, "RequireAdmin")).Succeeded)
{
    <a asp-action="Update" asp-route-id="@Model.Idsp" class="btn btn-warning mt-2">Edit</a>
}
@section Scripts {
}