@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<WebApp.Models.SanPham>
<h2>Products</h2>

@if ((await AuthorizationService.AuthorizeAsync(User, "RequireAdmin")).Succeeded)
{
    <a asp-action="Add" class="mt-2 btn btn-primary">Create new product</a>
}
@{
    SelectList categories = ViewBag.Categories;
    SelectList nhaPhanPhois = ViewBag.nhaPhanPhois;
    SelectList chungNhans = ViewBag.chungNhans;
}
<table class="table mt-2 table-hover">
    <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>CongDung</th>
            <th>ThanhPhanDinhDuong</th>
            <th>Hdsd</th>
            <th>SoLuong</th>
            <th>Category</th>
            <th>NhaPhanPhoi</th>
            <th>ChungNhan</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody class="table-primary">
        @foreach (var product in Model)
        {
            <tr>
                
                <td>@product.SpName</td>
                <td>@product.Price</td>
                <td>@product.MoTa</td>
                <td>@product.CongDung</td>
                <td>@product.ThanhPhanDinhDuong</td>
                <td>@product.Hdsd</td>
                <td>@product.SoLuongSp</td>
                <td>
                    @{
                        string? categoryName = categories
                        .Cast<SelectListItem>()
                        .Where(item => item.Value == product.Idcategory)
                        .Select(item => item.Text)
                        .FirstOrDefault();
                    }
                    @categoryName
                </td>
                <td>
                    @{
                        string? nhaPhanPhoiName = nhaPhanPhois
                        .Cast<SelectListItem>()
                        .Where(item => item.Value == product.Idnpp)
                        .Select(item => item.Text)
                        .FirstOrDefault();
                    }
                    @nhaPhanPhoiName
                </td>
                <td>
                    @{
                        string? chungNhanImg = chungNhans
                        .Cast<SelectListItem>()
                        .Where(item => item.Value == product.IdchungNhan)
                        .Select(item => item.Text)
                        .FirstOrDefault();
                    }
                    @if (chungNhanImg is not null)
                    {
                        <img src="@chungNhanImg" alt="Product Image" class="img-thumbnail mt-2" style="max-width: 100px" />
                    }
                </td>
                <td>
                    @if (product.HinhAnhSp is not null)
                    {
                        <img src="@product.HinhAnhSp" alt="Product Image" class="img-thumbnail mt-2" style="max-width: 100px" />
                    }
                </td>
                <td>
                    <a asp-action="Display" asp-route-id="@product.Idsp" class="btn btn-success m-1">Detail</a>
                    @if ((await AuthorizationService.AuthorizeAsync(User, "RequireAdmin")).Succeeded)
                    {
                        <a asp-action="Update" asp-route-id="@product.Idsp" class="btn btn-warning m-1">Edit</a>
                        <a asp-action="Delete" asp-route-id="@product.Idsp" class="btn btn-danger m-1">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    
}